/*
1. Posicionamiento
2. Box model
3. Tipografía
4. Elementos visuales
5. Otros
*/
:root{
    /*Colores*/
    --black: black;
    --warm-black:#201e1c;
    --gray:darkgray;
    --white:white;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center; 
    background: linear-gradient(300.7deg, black 85%, white 100%);   
    padding-bottom: 200px;
}

header img{
    width:300px;
    height: auto;
    margin-top: 60px;
    align-self: center;    
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.5rem;
    color: var(--white);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 75px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 150px;
    height: 48px;
    background-color: var(--gray);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: white;    
}

.main-exchange-container{
    width:100% ;
    height: auto;
    padding-top: 100px;
    padding-bottom: -20px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/laptop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 75px;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--black)
}

.main-services-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
 
  background-color: var(--black);
  text-align: center;
  
}


.main-services-container p{
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height:1.6rem;
    color:#757575;      
}

.services-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;   
  }

  .services-title h3{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
    
  }

  .services-slider{
    display: flex;
    height: 330px;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    margin-left: 20px;
    margin-right: 20
    ;
  }

.services-body{
    width: 320px;
    min-width: 320px;
    height: auto; 
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}




.services-body .softwareImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("./assets/img/softwareimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.services-body .electronicImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("./assets/img/electronicimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.services-body .mechanicalImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("./assets/img/servicios-tecnico.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.modelo_canvas img {
    width: 100%;
    height: auto;
}

footer .piedepagina {    
    text-align: center;
    color: white;
    background-color: #201e1c;
    padding: 20px 20px;  

}

footer .piedepagina h2{    
    font-size: large;
}

footer .piedepagina p{    
    font-size: medium;
}



