/*
1. Posicionamiento
2. Box model
3. Tipografía
4. Elementos visuales
5. Otros
*/
:root{
    /*Colores*/
    --totb-red:#fa2424;
    --black: black;
    --warm-black:#201e1c;
    --gray:darkgray;
    --white:white;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    
}